@use './_variables' as *;

@mixin export($map) {
	@each $key, $value in $map {
		--#{$key}: #{$value};
	}
}

$light-theme: (
	bg: $color-bg-light,
	surface: $color-surface-light,
	surface-hover: $color-surface-hover-light,
	surface2: $color-surface-light2,
	overlay: $color-overlay-light,
	primary: $color-primary-light,
	primary-hover: $color-primary-light-hover,
	shadow: $color-shadow-light,
	header: $color-header-light,
	footer: $color-footer-dark,
	hero: $color-hero-light,
	text: $color-text-dark,
	text-secondary: $color-text-secondary-dark,
);

$dark-theme: (
	bg: $color-bg-dark,
	surface: $color-surface-dark,
	surface-hover: $color-surface-hover-dark,
	surface2: $color-surface-dark2,
	overlay: $color-overlay-dark,
	primary: $color-primary-dark,
	primary-hover: $color-primary-dark-hover,
	shadow: $color-shadow-dark,
	header: $color-header-dark,
	footer: $color-footer-dark,
	hero: $color-hero-dark,
	text: $color-text-light,
	text-secondary: $color-text-secondary-light,
);

$common: (
	danger: $color-danger,
	danger-hover: $color-danger-hover,

	font-sans: $font-sans,
	font-mono: $font-mono,
);

body {
	@include export($light-theme);
	@include export($common);
}

body[data-theme='dark'] {
	@include export($dark-theme);
}
