@forward './_variables';
@forward './theme';
@forward './_mixins';

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;

	background-color: var(--bg);
	font-family: var(--font);
}

.container {
	width: 100vw;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}
