@media (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --text-color: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: white;
        --text-color: black;
    }
}

header {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 0.5em 1em;
    border-radius: 5px;
    height: 2em;
}

.hidden {
    display: none;
}