@use '@/styles/main' as *;

.card {
	background-color: var(--surface2);
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	padding: $spacing-lg;
	color: var(--text);
	display: flex;
	flex-direction: column;
	gap: $spacing-sm;
	transition: transform 0.2s ease;

	&:hover {
		transform: translateY(-5px);
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--text-dark);
}

.level {
	font-size: 0.9rem;
	font-style: italic;
	color: var(--text-light);
}

.description {
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 0.5rem;
}

.meta {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	font-size: 0.95rem;
	color: var(--text);
}

.price {
	font-weight: 600;
	color: var(--primary);
}

.ects {
	font-style: italic;
}

.favoriteButton {
	margin-top: $spacing-sm;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 8px;
	background-color: var(--primary);
	color: var(--text);
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: var(--primary-hover);
	}
}

.added {
	margin-top: $spacing-sm;
	color: var(--success);
	font-weight: bold;
}

.error {
	color: var(--danger);
	margin-top: $spacing-xs;
	font-size: 0.9rem;
}

.buttons {
	display: flex;
	justify-content: space-between;
	gap: $spacing-sm;
	margin-top: $spacing-md;
}

.emailButton {
	margin-top: $spacing-sm;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 8px;
	background-color: var(--primary);
	color: var(--text);
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: var(--primary-hover);
	}
}
