@use '@/styles/main' as *;

.header {
	background-color: var(--header);
	border-bottom: 1px solid var(--shadow);
	position: sticky;
	top: 0;
	z-index: 1000;
	width: 100%;
}

.content {
	color: var(--text);
	padding: clamp(0.75rem, 2vw, 1.5rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1150px;
	margin: 0 auto;
	width: 95%;
	position: relative;
}

.logo {
	font-size: 3rem;
	font-weight: bold;
	color: var(--primary);
	text-decoration: none;
	transition: color 0.3s ease;
	padding-right: 2rem;

	&:hover {
		color: var(--primary-hover);
	}

	&:focus {
		outline: 2px dashed var(--primary-hover);
		outline-offset: 2px;
	}
}

.nav {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;

	> a,
	> button {
		background-color: var(--primary);
		color: $color-text-dark;
		border: none;
		padding: 0.5rem 1rem;
		border-radius: $radius-md;
		cursor: pointer;
		text-decoration: none;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: var(--surface-hover);
			color: var(--text);
		}

		&:focus {
			outline: 2px dashed var(--surface-hover);
			outline-offset: 2px;
		}
	}

	> .login,
	> .register {
		background-color: var(--surface);
		color: var(--text);

		&:hover {
			background-color: var(--primary-hover);
			color: $color-text-dark;
		}
	}

	> .logout {
		background-color: var(--danger);
		font-family: var(--font);

		&:hover {
			background-color: var(--danger-hover);
		}
	}
}

.hamburger {
	display: none;
	background: none;
	border: none;
	font-size: 3rem;
	color: var(--primary);
	cursor: pointer;
	position: absolute;
	right: 0.1rem;
	top: 1.7rem;
	z-index: 1100;
}

@media (max-width: 768px) {
	.content {
		flex-direction: column;
		align-items: flex-start;
	}

	.nav {
		display: none;
		flex-direction: column;
		align-items: flex-end;
		width: 95%;
		margin-top: 0.5rem;
		gap: 0.5rem;

		> a {
			padding: 0.75rem 1.25rem;
		}
	}

	.open {
		display: flex;
	}

	.hamburger {
		display: block;
	}
}
