@use '@/styles/main' as *;

.hero {
  	text-align: center;
  	padding: 6.25rem 1.25rem;
  	background-color: var(--hero);
	border-bottom: 1px solid var(--shadow);
  	color: var(--text);
}

.story {
	@include card;
	@include flex-center;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: $spacing-md $spacing-md;
	margin-top: 2.5rem;
	background-color: var(--hero);

	text-align: center;
  	margin-bottom: 2.5rem;
  	color: var(--text);

	@media (max-width: 768px) {
		max-width: 90%;
	}

	h2{
		font-size: 2rem;
		margin-bottom: 0.625rem;
	}

	p{
		font-size: 1rem;
		margin-bottom: 2rem;
	}
}

.values {
	@include card;
	@include flex-center;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: $spacing-md $spacing-md;
	text-align: center;
  	margin-bottom: 2.5rem;
  	color: var(--text);
	background-color: var(--hero);
	font-size: 1.25rem;

	@media (max-width: 768px) {
		max-width: 90%;
	}

	h2{
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	ul {
		list-style: none;
		display: grid;
		padding-left: 0;
		flex-direction: column;
		gap: var(--space-lg);
		justify-content: center;
		margin: 0 auto;
		max-width: 900px;
		margin-bottom: 2rem;
		font-size: 1rem;
		li {
			text-align: center;
			padding: var(--space-lg);
		}
	}

}

.team {
	@include card;
	@include flex-center;
	background-color: var(--hero);
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: $spacing-md $spacing-md;
	text-align: center;
  	margin-bottom: 1.25rem;
  	color: var(--text);

	@media (max-width: 768px) {
		max-width: 90%;
	}

	h2{
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}

.teamGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;


	.teamMember {
		@include card;
		@include flex-center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		padding: $spacing-md $spacing-md;
		text-align: center;
		font-size: 1rem;
		background-color: var(--surface2);
		margin-bottom: 1rem;


		h3 {
			font-size: 1.5rem;
			color: var(--text);
			margin-bottom: 0.5rem;
		}

		p {
			font-size: 1rem;
			color: var(--text);
		}
	}
}
